.navbar {
    position: fixed; /* Pastikan navbar tetap di atas */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Agar navbar selalu berada di atas elemen lainnya */
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6b11cb87, #7fa4a460);
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Card */
.card {
    background-color: rgba(128, 128, 128, 0.715);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Logo */
.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 50%;
}

/* Form */
.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: whitesmoke;
    outline: none;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4500b328;
}

/* Login link */
.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #a200ff92;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
